<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="30">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css">
	<style type="text/css"	>
		html {
			font-family: 'Recursive', sans-serif;
			font-weight: normal;
			font-size: medium;
		}
		h1, h2, h3 {
			font-family: 'IM Fell English SC', serif;
		}
		h1 {
			font-size: 36px;
		}

		.info-table table { border: none; }
		.info-table td { border: none; }
		.info-table {
			font-size: x-large;
		}

		.content-center {
			display: grid;
			place-content: center;
			gap: 1ch;
		}
	</style>
	<title>Valheim: {{ .WorldName }}</title>
</head>
<body>
	<header class="content-center">
		<h1 style="font-size: xx-large;" align="center">{{ .WorldName }}</h1>
		<p align="center">Valheim dedicated server</p>

		<nav>
			<ul>
				<li><a href="https://www.valheimgame.com/">Valheim</a></li>
				<li><a href="https://store.steampowered.com/app/892970/Valheim/">Steam</a></li>
				<li><a href="https://linuxgsm.com/lgsm/vhserver/">vhserver</a></li>
				<li><a href="https://github.com/mitsu-ksgr/vhstatus">vhstatus</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<article class="content-center">
			<table class="info-table">
				<tr>
					<td align="right">Status</td>
					<td align="center">
						<strong>
							{{ if eq .Status "Online" }}
							<font color="lime">Online</font>
							{{ else }}
							<font color="crimson">{{ .Status }}</font>
							{{ end }}
						</strong>
					</td>
				</tr>
				<tr>
					<td align="right">Active Player</td>
					<td align="center">
						<strong>{{ .ActivePlayerCount }}</strong>
					</td>
				</tr>
			</table>
		</article>

		<article class="content-center">
			<h2 align="center">Players</h2>
			<table>
				<thead>
					<tr>
						<th>Status</th>
						<th>Name</th>
						<th>Last Updated</th>
					</tr>
				</thead>
				<tbody>
					{{ range $i, $v := .Players }}
						{{ if ne $v.Name "" }}
							<tr>
								<td>
									{{ if eq $v.Status "Disconnection" }}
										<font color="crimson">Offline</font>
									{{ else }}
										<font color="lime">Online</font>
									{{ end }}
								</td>
								<td>{{ $v.Name }}</td>
								<td>{{ $v.UpdatedAtAsString }}</td>
							</tr>
						{{ end }}
					{{ end }}
				</tbody>
			</table>
		</article>

		<article class="content-center">
			<h2 align="center">Server information</h2>
			<table>
				<tbody>
					<tr>
						<th>WorldName</th>
						<td>{{ .WorldName }}</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>{{ .Status }}</td>
					</tr>
					<tr>
						<th>Active player</th>
						<td>{{ .ActivePlayerCount }} / 10</td>
					</tr>
					<tr>
						<th>Valheim Version</th>
						<td>{{ .ValheimVersion }}</td>
					</tr>
					<tr>
						<th>Updated</th>
						<td>{{ .UpdatedAtAsString }}</td>
					</tr>
				</tbody>
			</table>
		</article>
	</main>

	<footer>
		<p>This page generated by VHStatus</p>
		<p>CSS Framework is <a href="https://igoradamenko.github.io/awsm.css/">awsm.css</a></p>
		<p>
			This page uses following fonts:
			<a href="https://fonts.google.com/specimen/IM+Fell+English+SC#standard-styles">IM Fell English SC Font</a>,
			<a href="https://fonts.google.com/specimen/Recursive?vfonly=true&category=Sans+Serif,Display,Monospace&query=recur">Recursive</a>.
		</p>
	</footer>
</body>
</html>
